@{
    ViewBag.Title = "Contact Cameron Krantz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Bikini Bottom<br />
    Under The, Sea 42363<br />
    <abbr title="Phone">P:</abbr>
    121.333.4242
</address>

<address>
    <strong>Email Cameron:</strong>   <a href="mailto:ck283615@ohio.edu">ck283615@ohio.edu</a><br />
    <strong>MIS Department:</strong> <a href="mailto:ck283615@ohio.edu">ck283615@ohio.edu</a>
</address>